<aside class="sidebar" [class.sidebar--collapsed]="sidebarService.isSidebarOpen()">
  <p-button
    icon="pi pi-times"
    (click)="
      sidebarService.isSidebarOpen()
        ? sidebarService.isSidebarOpen.set(false)
        : sidebarService.isSidebarOpen.set(true)
    "
  />
  <nav>
    <ul
      class="sidebar__nav"
      style="display: flex; flex-direction: column; gap: 1rem; margin-top: 16px"
    >
      <li>
        @if (!sidebarService.isSidebarOpen()) {
          <h1 routerLink="products">Products</h1>
        } @else {
          <p-button icon="pi pi-check" />
        }
      </li>

      <li>
        @if (!sidebarService.isSidebarOpen()) {
          <h2 routerLink="users">Users</h2>
        } @else {
          <p-button icon="pi pi-user" />
        }
      </li>
    </ul>
  </nav>
</aside>
