:host {
  display: block;
}

.sidebar {
  height: 100%;
  padding: 1.5rem;
  background-color: blue;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--collapsed {
    padding: 1.5rem 0.5rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
