@reference "../tailwind.css";

.app {
  @apply grid grid-cols-[var(--sidebar-width)_1fr] grid-rows-[auto_1fr] min-h-screen;

  grid-template-areas:
    'header  header'
    'sidebar content';

  &--sidebar-closed {
    @apply grid-cols-[80px_1fr];
  }

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__content {
    @apply bg-green-600 overflow-y-auto;

    grid-area: content;
  }
}
